
#footer{
    background-color: #567086;
    width: 1260px;
    height: 90px;
    box-shadow: 1px 1px 1px 1px #435c70;
    margin-top: 60px;

}


#copyright{
    color: white;
    font-size: 13px;
    padding: 35px 450px;
}

#foot{
    width: 100%;
    background-color:#4e657a;
   

}